body {
  font-family: monospace;
  width: 99%;
}

h1 {
  text-align: center;
  margin-top: 4%;
  font-size: 400%;
  text-decoration: underline;
}

#intro_text {
  margin: 5% 12% 0 12%;
  font-size: 150%;
}

#example_text {
  margin: 1% 12% 4% 12%;
  font-size: 150%;
  border: 3px solid black;
  padding: 3%;
}

.content {
  font-size: 120%;
}

.parsed_file {
  margin: 0 12% 4% 12%;
  font-size: 120%;
  border: 3px solid black;
}

#section {
  margin: 4% 20% 4% 20%;
}

.section_title {
  font-size: 150%;
}

#upload_form, #upload_list_item {
  text-align: center;
  font-size: 150%;
}

#index_link {
  margin-top: 4%;
  text-align: center;
  font-size: 150%;
}

 #root_link {
  text-align: center;
  font-size: 150%;
 }

 #flash_messages {
  text-align: center;
  font-size: 150%;
 }