<h1>Uploads</h1>
<% @uploads.each do |upload| %>
  <p id="upload_list_item">
    <%= link_to upload.created_at.strftime("%-m/%-d/%Y"), upload_path(upload) %>
  </p>
<% end %>

<p id="root_link"> <%= link_to "Upload Another File", root_path %> </p>